# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.VR.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repos\uni\VR\.idea\.idea.VR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Sensitive or high-churn files:
dataSources.ids
dataSources.xml
dataSources.local.xml
sqlDataSources.xml
dynamic.xml
uiDesigner.xml